.pallette-btn {
    border-radius: 5px;
    border-color: gray;
    border-style: solid;
    border-width: 1px;
    font-size: 30px;
    width: 50px;
    padding-left: 30px;
    cursor: pointer;
    outline: 0;
}

#current-color-indicator {
    border-radius: 100px;
    border: 1px;
    font-size: 25px;
    padding-left: 20px;
    border-color: grey;
    border-style: solid;
    border-width: 1px;
    background-color: black;
    margin-right: 10px;
}

body {
    height: 1vh;
    overflow: hidden;
}


#eraser-btn, #pen-btn, #text-btn {
    background-color: Transparent;
    border: none;
    cursor:pointer;
}

#eraser-btn>img, #pen-btn>img, #text-btn>img {
    width: 25px;
}
#control-menu>span {
    font-size: 22px;
}

#control-menu>span>select {
    margin-right: 25px;
    vertical-align: middle;
    font-size: 16px;
}

#eraser-btn:focus, #pen-btn:focus, #text-btn:focus {
    outline: 100;
    outline-color: Highlight;
}

.pallette-btn:focus {
    border-width: 2px;
    border-color: Highlight;
}

img {
    width: 30px;
}

canvas {
    position: absolute;
}

#text-box{
    position: absolute;
    visibility: hidden;
    left: 200px;
    top: 200px;
    z-index: 10;
}

#text-area {
    display: block;
    font-size: 24px;
}

#text-box-submit-btn {
    margin-top: 5px;
    display: block;
}

#header {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

#main-heading {
    width: 100%;
    margin-left: 3%;
}

#top-menu {
    padding-right: 10px;
    margin-left: 3%;
}

#control-menu {
    display: flex;
    flex: 4;
    justify-content: flex-end;
    align-items: flex-end;
    margin-right: 3%;
}


@media only screen and (max-width: 900px){
    
    #control-menu>span {
        font-size: 14px;
    }
    
    #control-menu>span>select {
        margin-right: 10px;
        font-size: 14px;
    }
}

@media only screen and (max-width: 760px){
    

    #top-menu {
        width: 100%;
    }

    #control-menu {
        justify-content: flex-start;
        margin: 3%;
    }

    /* #font-box, #btn-box {
        margin-left: 25px;
    } */
}

@media only screen and (max-width: 448px){
    .pallette-btn, #current-color-indicator {
        font-size: 40px;
        padding-left: 30px;
        width: 20px;
    }

    #top-menu {
        width: 100%;
    }

    #control-menu {
        justify-content: flex-start;
        margin: 3%;
    }

    #eraser-btn>img, #pen-btn>img, #text-btn>img {
        width: 14px;
    }

    #control-menu>span>select {
        margin-right: 14px;
        font-size: 12px;
    }
}

@media only screen and (max-width: 448px){
    .pallette-btn, #current-color-indicator {
        width: 25px;
        font-size: 20px;
        padding-left: 20px;
    }

    #top-menu {
        width: 100%;
    }

    #control-menu {
        justify-content: space-between;
        margin: 3%;
    }
    

    #eraser-btn>img, #pen-btn>img, #text-btn>img {
        width: 14px;
    }

    #control-menu>span>select {
        margin-right: 4px;
        font-size: 12px;
    }
}
